body {
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 1100px;
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
    height: 293px;
    display: block;
    background-color: #fff;
    padding: 92px 24px 94px 24px;
}

.section {
    box-sizing: border-box;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.nav {
    margin: auto;

}

.list {
    width: 391px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: circle;
    column-gap: 11px;
}

.list-item {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-item-main {
    margin-left: 0;
}

.list-item-lots {
    margin-left: 0;
}

.list-item-auction {
    margin-left: 0;
}

.contacts {

}

.contacts-item {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
}

.header-logo {
    margin: auto;
    width: 148px;
    height: 105px;
    flex-shrink: 0;
}

.contacts {
    font-style: normal;
    margin-left: 185px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
    color: #000;
    text-decoration: none; 
}

.overlay-img {
    display: block;
    position: relative;
    overflow: hidden;
}

.overlay-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1100px;
    height: 757px;
    background: rgba(0, 0, 0, 0.6);
}

.cover-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 165px;
    white-space: nowrap;
}

.cover-title .alight-text-left {
    margin: 165px 0px 477px 50px;
}

.cover-title .alight-text-center {
    margin: 300px 0px 357px 336px;
}

.cover-title .alight-text-right {
    margin: 420px 0px 237px 633px;
}

.cover-title .letter-spacing-extended {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 60px;
    text-transform: uppercase;
}

.cover-title .text-nowrap{
    display: inline-block;
    margin-left: -25px;
}

.cover-description {
    display: block;
    margin-top: 147px;
    margin-left: 78px;
}

.cover-description-text {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 24.2px;
}

.cover-description-button {
    margin-left: 79px;
    background-color: transparent;
    width: 193px;
    height: 28px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-wrap: nowrap;
    border: 1px solid #FFF;
    width: 256px;
    height: 51px;
    flex-shrink: 0;
}

.lots {
    color: #fff;
    background-color: #fff;
    padding: 179px 24px 0px 24px;
}

.lots-heading {
    color: #000;
    margin: 27px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.card-section {
    display: flex;
    width: 1052px;
    justify-content: space-between;
}

.lots-card-overlay-img {
    color: #fff;
    display: block;
    position: relative;
    overflow: hidden;
}

.lots-card-overlay-img .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 563px;
    background: rgba(0, 0, 0, 0.6);
}

.card {
    width: 334px;

    
}

.card-overlay .card-content {
    height: 100%;
    box-sizing: border-box;

}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 51px 40px;

}

.card-heading {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
}

.card-text {

    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.see-more {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    margin-top: 30px;
    margin-left: 40px;
}


.about-auction-section {
    background-color: #fff;
    width: 1100px;
    height: 750px;
}

.about-auction-box {
    box-sizing: border-box;
    padding-top: 146px;
    background-color: #fff;
    margin: auto;
    width: 1052px;
    height: 695px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr 1fr;
}

.about-auction-header-box {
    align-self: center;
}
.about-auction-logo-box {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
}

.logo-box {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.about-auction-heading {
    margin-left: 50px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}



.about-auction-text {
    margin-left: 50px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;

}

.footer {
    background-color: #FFF;
    width: 1100px;
    height: auto;
    padding-bottom: 50px;
}

.footer-section {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
}

.contacts-bottom-block {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

address {
    font-style: normal;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    list-style: none;
    justify-self: center;
    align-items: center;
}

.social-media-block {
    display: flex;
    justify-self: center;
    gap: 48px;
}