body {
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 1100px;
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
    height: 293px;
    display: block;
    background-color: #fff;
    padding: 92px 24px 94px 24px;
}

.section {
    box-sizing: border-box;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.nav {
    margin: auto;

}

.list {
    width: 391px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: circle;
    column-gap: 11px;
}

.list-item {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-item-main {
    margin-left: 0;
}

.list-item-lots {
    margin-left: 0;
}

.list-item-auction {
    margin-left: 0;
}

.contacts {

}

.contacts-item {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
}

.header-logo {
    margin: auto;
    width: 148px;
    height: 105px;
    flex-shrink: 0;
}

.contacts {
    font-style: normal;
    margin-left: 185px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
    color: #000;
    text-decoration: none; 
}

.overlay-img {
    display: block;
    position: relative;
    overflow: hidden;
}

.overlay-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1100px;
    height: 757px;
    background: rgba(0, 0, 0, 0.6);
}

.cover-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 165px;
    white-space: nowrap;
}

.cover-title .alight-text-left {
    margin: 165px 0px 477px 50px;
}

.cover-title .alight-text-center {
    margin: 300px 0px 357px 336px;
}

.cover-title .alight-text-right {
    margin: 420px 0px 237px 633px;
}

.cover-title .letter-spacing-extended {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 60px;
    text-transform: uppercase;
}

.cover-title .text-nowrap{
    display: inline-block;
    margin-left: -25px;
}

.cover-description {
    display: block;
    margin-top: 147px;
    margin-left: 78px;
}

.cover-description-text {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 24.2px;
}

.cover-description-button {
    margin-left: 79px;
    background-color: transparent;
    width: 193px;
    height: 28px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-wrap: nowrap;
    border: 1px solid #FFF;
    width: 256px;
    height: 51px;
    flex-shrink: 0;
}